body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.mdl-dropdown {
    z-index: 99999999999 !important;
}

.mdl-dialog__title {
    font-size: 16px !important;
    font-weight: bold !important;
}

.mdlp-dropdown.mdl-dialog {
    padding-left: 0;
    padding-right: 0;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px !important;
    border-radius: 2px;

    opacity: 0;
    transform: scaleY(0);
    transition: transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.mdlp-dropdown.mdl-dialog.select-dialog-open {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: left top 0px;
}

.mdlp-dropdown.mdl-dialog::backdrop, .mdlp-select .mdl-dialog + .backdrop {
    background-color: transparent;
}

.mdlp-dropdown.mdl-textfield label:after {
    background-color: transparent !important;
    transition: none !important;
    transition-duration: 0ms;
}

._dialog_overlay {
    z-index: 100 !important;
}

.mdl-textfield__label {
    font-size: 12px !important;
}
.mdl-textfield.is-invalid .mdl-textfield__label {
    color: rgb(213,0,0);
}

.mdlp-autocomplete .mdlp-dropdown.mdl-dialog {
    padding: 0
}

.action-container > div {
    display: inline;
}

.mapboxgl-popup {
    max-width: 200px;
    min-width: 100px;
}

.mapboxgl-popup th {
    text-align: left;
}

.mapboxgl-popup td {
    text-align: right;
}

.mapboxgl-popup table {
    width: 100%;
}

.mapboxgl-popup h6 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.loading-box {
    z-index: 999999999999;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading-box .mdl-spinner {
    width: 100px;
    height: 100px;
}

.loading-box .mdl-spinner__circle {
    border-width: 10px
}